.b-reviews {
    padding: 130px 0;

    &__title {
        margin-bottom: 40px;
    }

    &__subtitle {
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 45px 95px;
        height: 100%;
        @media (max-width: 576px) {
            padding: 45px 10px;
        }
    }
    &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
    }

    &__author {
        display: flex;
        align-items: center;
    }

    &__author-photo {
        width: 80px;
        height: 80px;
        margin-right: 35px;

        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }

    &__author-img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__author-data {
    }

    &__author-name {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 18px;
    }

    &__author-job {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
    }

    .b-slider {
        padding-bottom: 110px;
        .b-reviews-slider {
            // &__logo {
            //     margin: 0 -15px;

            //     &:not(:last-child) {
            //         margin-right: 25px;
            //     }
            // }

            &__logo-img {
                width: 100%;
            }
        }

        .b-slider {
        }
        .carousel-inner {
            background-color: #ebebeb;
            min-height: 320px;
        }

        .carousel-item {
            height: 100%;
        }

        .carousel-control-prev,
        .carousel-control-next,
        .carousel-indicators {
            // bottom: 15%;
        }
    }
}
